*
{
    margin: 5px;
    padding: 0px;
}
body
{
    font-size: 15px;
    background-color: aliceblue;
    color: rgb(19, 70, 224);
}
.container
{
    background-color: white;
    width: 600px;
    padding: 15px;
    margin: 50px auto;
    border: solid rgb(21, 115, 203);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 5px #888888;
}
.container h2
{
    text-align: center;
    line-height: 60px;
}
.input-name
{
    width: 90%;
    position: relative;
    margin: 10px auto;
}
.name
{
    width: 40%;
    padding: 5px 0 5px 0;
    text-align: left;

}
.input
{
    width: 90%;
}
.submit
{
    display: flex;
    justify-content: center;
}
.button
{
    background-color: rgb(19, 70, 224);
    font-size: 25px;
    width: 150px;
}
